

/**Globals**/

:root{
    --principalFont: 'Oswald', sans-serif;
    --white:#FFF;
    --grey:#1B1B1B;
    --pink:#EE446f;
    --black:#000;
    --blackpink:#882664;
}

html{
    
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before, *:after{
    box-sizing: inherit;
} 

body{
    background-color: var(--blackpink);
    font-size:1.6rem;
    line-height:1.5;
}

p{
    font-size:1.8rem;
    font-weight:400;
}

a{
    font-family:var(--principalFont);
    text-decoration:none;
}

img{
    width: 95%;
}


h1, h2, h3{
    font-family:var(--principalFont);
    text-align:center;
    font-weight:bold;
}

h1{
    font-size:5rem;
}

ul{
    font-family:var(--principalFont);
    list-style:none;
}

li{
    padding: 1rem 0;
    font-size: 2rem;
}

.container{
    margin:0 auto;
    max-width: 120rem;
    width: 95%;

}


/*header*/


.header{
    display: flex;
    justify-content: space-between;
    color:var(--black);
    background-color:var(--pink);
    width: 100%;
}
.title{
    padding:2rem 2rem;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.header-content h1{
    text-align: center;
    margin: 0 ;
}


.nav{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;

}


.nav a{
    color:var(--black);
    font-size:2rem;

}

.nav a:hover{
    color: var(--white);
}


/**Pre Main**/

.premain{
    padding: 2rem;
    background-color:var(--white)
}

.premain{
    display: flex;
    justify-content: space-between;
}

.slogan{
    padding-left: 2rem;
    font-size:3rem;
    text-align: left;
}

.error-text{
    font-size: 1.8rem;
    font-weight:300;
    margin: 0;
    color:#ff0934;
}

.session {
    display: flex;
    flex-direction: column;
    font-family: var(--principalFont);

}

#session-button{
    border:var(--grey) solid 0.2rem;
    background-color: var(--pink);
}

.session input, .session label{
    margin-right:6rem;
}


#session-button:hover{
    color:var(--white);
}

/*Main Section*/

.main{
    margin-top: 5rem;
    padding: 0 0 5rem 0;
    
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr ));
    column-gap: 2.5rem;
    row-gap:3rem;
}
.sticker-container{
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    row-gap:1rem;
    align-items: center;
}


.stock-product{
    font-family: var(--principalFont);
    margin: 0;
}

.sticker-container img{
    padding-top: 1rem;
    border-radius: 0.4rem;
    
}

.btn-user{
    display: flex;
    align-items:flex-start;
}

.btn-user button{
    margin-left:0 ;
}





.btn{
    border-radius:0.5rem;
    background-color:var(--white);
    cursor: pointer;
    padding:.5rem 0;
    width: 80%;
    font-family: var(--principalFont);
    font-size: 2rem;
    margin: 1rem;
}

.product-name, .product-price{

    font-family: var(--principalFont);
}

.product-name{
    font-size:3rem;
    margin:0;
}

.product-price{
    margin:1rem;
    font-size: 3rem;
}

/**Cart**/
.payment{
    background-color: var(--white);
    margin: 0 auto;
    padding: 3rem;

    min-height:50rem;

}

.cart-title{
    text-align: center;
    font-size: 3rem;
    padding-left: 2rem;

}

.objects-in{
    font-size:2.5rem;
}


.payment-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap:20rem;
}

.btn-flex{
    padding-top:2rem ;
    display: flex;
    justify-content: center;
}


.x{
    cursor: pointer;
    background: var(--pink);
    padding: 0.2rem;
    width:0.3rem;
    height:0.2rem;

}
.payment-btn{
    font-family: var(--principalFont);
    font-size:3rem;
    width:40%;
    background-color:var(--pink);
    color:var(--black);
    padding: 1rem 0;
    border-radius:0.5rem;


} 

.payment-btn:hover{
    cursor: pointer;
    color:var(--white)
}

/*Footer*/
footer{
    background-color: var(--pink);
    font-family:var(--principalFont);
    font-size:2rem;
    text-align: center;
}